*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  color: #358ccb;
}
.header-container {
  width: 100%;
  height: 20rem;
  background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80");
}
#navbarNavDropdown {
  justify-content: center;
}
.nav-item:hover {
  text-decoration: underline;
}
.introduction-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-links {
  text-decoration: none;
}
.linkedin-icons {
  width: 48px;
  height: 48px;
}
.github-icons {
  width: 55px;
  height: 55px;
}
.profile-image-section {
  height: 10rem;
  display: flex;
  justify-content: center;
}
.avtar-container {
  width: 200px;
  height: 200px;
  bottom: 99px;
  position: relative;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 0px;
}
.avtar {
  border-style: none;
  width: 202px;
  height: 201px;
  border-radius: 50%;
}
.short-description {
  height: 20rem;
}
.my-skills {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: ghostwhite;
}
.outer-skill_container {
  width: 180px;
  height: 30px;
}
.progress {
  height: 30px !important;
}
.skills-first_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills-second_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-skills_skills {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.my-experience_left-side {
  width: 49%;
  padding-right: 30px;
  display: flex;
  justify-content: end;
}
.vertical-line {
  width: 1px;
  border-left: 5px dotted #358ccb;
}
.my-experience_right-side {
  width: 49%;
}
.my-experience_experiences {
  height: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.my-education {
  height: 100vh;
}
.about-job {
  display: flex;
  justify-content: space-between;
}
.first-experience {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.cust_paragraph {
  text-align: justify;
}
.rotate_image {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.airplain_icon {
  position: relative;
  right: 35px;
  top: -10px;
}
